.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  transition: all .3s;
}
.header.isActive {
  height: 64px;
  background-color: #21054d;
}
.logo {
  width: 120px;
  line-height: 1;
}
.nav {
  position: fixed;
  inset: 0;
  z-index: 9;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #7633a4, #250d65);
  transition: opacity .3s ease;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.nav.open {
  opacity: 1;
  pointer-events: auto;
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navItem {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.navLink {
  color: var(--color-font-white);
}
.hamburger {
  position: fixed;
  top: 12px;
  right: 25px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.4s ease;
  transform-origin: center;
}
/* open時のアニメーション */
.header.open .hamburger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.header.open .hamburger span:nth-child(2) {
  opacity: 0;
}
.header.open .hamburger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


@media screen and (min-width: 768px) {
  .header {
    height: 86px;
    padding: 0 30px;
  }

  .logo {
    width: 160px;
  }

  .nav {
    position: static;
    inset: auto;
    width: auto;
    background-image: none;
    opacity: 1;
    pointer-events: auto;
  }

  .navList {
    flex-direction: row;
    gap: 25px;
  }

  .navItem {
    font-size: 14px;
  }

  .hamburger {
    display: none;
  }
}
