.container {
  /* position: relative; */
  background: url("/hero.jpg") no-repeat center center / cover;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}
.inner {
  padding: 0 30px;
}
.title {
  color: var(--color-font-white);
  font-size: 40px;
  line-height: 1.1;
}
.sub {
  margin-top: 20px;
  color: var(--color-font-white);
  font-size: 16px;
  letter-spacing: .1em;
}
.sub span {
  display: block;
}
.button {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .inner {
    text-align: center;
  }
  .title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
  }
  .sub {
    font-size: 24px;
  }
  .sub span {
    display: inline;
  }
  .button {
    margin-top: 50px;
  }
}