.bg {
  background: url("/bg-geometry.png") repeat;
}
.mt {
  margin-top: 40px;
}

.message {
  text-align: center;
}
.title {
  margin-top: 20px;
  color: var(--color-font-primary);
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
.subTitle {
  margin-top: 10px;
  color: var(--color-font-primary);
  font-size: 18px;
}
.heading {
  margin-top: 16px;
  font-size: 15px;
  text-align: center;
}
.heading span {
  display: block;
}
.imageWrapper {
  position: relative;
  width: 100%;
  margin-top: 40px;
  aspect-ratio: 375 / 214;
}
.image {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  object-fit: cover;
}
.inner {
  margin-top: 30px;
  padding: 30px 20px;
  border: 1px solid #b067cf;
  border-radius: 6px;
  background-color: #fff;
}
.listName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.table {
  margin-top: 30px;
}
.button {
  margin-top: 50px;
}
.note {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
.video {
  margin-top: 30px;
}
.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (min-width: 768px) {
  .message {
    margin-top: 30px;
  }
  .title {
    font-size: 72px;
    line-height: 1;
  }
  .subTitle {
    font-size: 32px;
  }
  .heading {
    margin-top: 20px;
    font-size: 16px;
  }
  .inner {
    padding: 60px 95px;
  }
  .listName {
    font-size: 24px;
  }
  .table {
    margin-top: 40px;
  }
  .video {
    margin-top: 40px;
  }
}