.item:not(:last-child) {
  margin-bottom: 15px;
}
.meta {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}
.title {
  font-size: 14px;
}
.link {
  color: var(--color-font-base);
}

@media screen and (min-width: 768px) {
  .inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .meta {
    margin-bottom: 0
  }
}