@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --color-bg-base: #120e19;
  /* --color-bg-base-light: #1a1a1a; */
  --color-font-primary: #391E88;
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
  --color-font-link: #a798b7;
  /* --color-border-white: #ffffff; */
  /* --color-font-attention: #d94747; */
  --color-font-base: #333;
  --color-font-black: #000000;
  --color-font-white: #ffffff;
  --font-family-base: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --z-index-default: 1;
  --z-index-header: 10;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  display: block;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  letter-spacing: .05em;
  font-size: 14px;
  font-size: .875rem;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
}

.content {
  flex: 1;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
    font-size: .9375rem;
  }
}
a {
  color: var(--color-font-primary);
  text-decoration: none;
  transition: .3s;
}
a:hover {
  text-decoration: none;
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}