.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.text {
  font-size: 1rem;
}
.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 40px 16px;
}

@media (min-width: 768px) {
  .container {
    width: 840px;
    padding: 160px 80px;
  }
  .title {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}
