.pageTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
.heading {
  margin-bottom: 30px;
}
.button {
  margin-top: 30px;
}
.image {
  object-fit: cover;
}
/* news */
.newsInner {
  max-width: 950px!important;
}
.newsList {
  margin-top: 30px;
}
/* works */
.worksInner {
  position: relative;
  max-width: 1300px!important;
  padding: 30px 20px 60px 20px!important;
}
.worksInner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68%;
  background-color: #f0f0f0;
}
.worksBody {
  margin-top: 20px;
  text-align: center;
}
.worksText {
  margin-top: 30px;
  color: var(--color-font-base);
}
.worksText span {
  display: block;
}
/* company */
.company {
  text-align: center;
}
.companyInner {
  max-width: 1300px!important;
  padding: 60px 0!important;
  background-image: url("/sp_bg-circle.png");
  background-position: center center;
  background-size: 375px;
  background-size: contain;
}
.companyHeading {
  display: inline-block;
  background: linear-gradient(transparent 70%, #f5f534 0%);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.companyHeading span {
  display: block;
}
.companyText {
  margin-top: 40px;
  text-align: center;
}
/* recruit */
.recruitBody {
  padding: 70px 0;
  background-color: #f0f0f0;
}
.recruitImageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}
.recruitText {
  text-align: center;
}
/* contact */
.mt {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .pageTop {
    right: 45px;
    bottom: 45px;
  }
  /* news */
  .newsInner {
    display: flex;
    gap: 50px;
  }
  .newsList {
    margin-top: 0;
  }
  /* works */
  .works {
    padding: 60px 0 40px 0!important;
  }
  .worksInner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 60px 20px!important;
  }
  .worksInner::after {
    bottom: auto;
    left: auto;
    top: 50%;
    right: 0;
    width: 60%;
    height: 100%;
    transform: translateY(-50%);
  }
  .slider {
    width: 60%;
  }
  .worksBody {
    margin-top: 0;
  }
  /* company */
  .companyInner {
    padding: 100px 0!important;
    background-image: url("/bg-circle.png"), url("/bg-face.png");
    background-position: center center, center center;
    background-size: auto;
  }
  .companyHeading {
    font-size: 40px;
    line-height: 1;
  }
  .companyHeading span {
    display: inline;
  }
  /* recruit */
  .recruitInner {
    display: grid;
    grid-template-columns: 1fr 60%;
  }
  .recruitImageWrapper {
    order: 1;
    height: auto;
  }
}