.container {
  /* position: relative; */
  background: url("/hero.jpg") no-repeat center center / cover;
  display: grid;
  place-items: center;
  width: 100%;
  height: 180px;
}
.inner {
  padding: 50px 40px 10px 40px;
}
.sub {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    height: 240px;
  }
  .inner {
    padding: 0;
  }
}