.title {
  font-size: 22px;
}
.meta {
  display: flex;
  text-align: center;
  gap: 10px;
  margin-top: 10px;
}
.image {
  margin-top: 20px;
}
.desc {
  margin-top: 30px;
}
.heading {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}
.heading::before {
  content: "";
  display: block;
  width: 6px;
  border-radius: 3px;
  background-color: var(--color-bg-base);
}
.text01,
.text02 {
  margin-top: 20px;
}
.subHeading {
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
  .image {
    margin-top: 30px;
  }
  .heading {
    margin-top: 60px;
    font-size: 24px;
  }
  .subHeading {
    font-size: 15px;
  }
}