.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.link {
  color: var(--color-font-base);
}
.image {
  width: 100%;
  height: auto;
}
.caption {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}