.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 30px;
}
.label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
.required {
  margin-left: 10px;
  color: var(--color-font-primary);
  font-size: 12px;
}
.note {
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
}
.textfield {
  width: 300px;
}
.textarea {
  min-width: 600px;
  min-height: 200px;
}
.button {
  margin-top: 20px;
}
.success {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.error {
  margin-bottom: 8px;
  color: #f33;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 90px;
  }
}