.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 30px;
}
.label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
.required {
  margin-left: 10px;
  color: var(--color-font-primary);
  font-size: 12px;
}
.note {
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
}
.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 35px;
}
.radioItem {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.radio {
  border: 1px solid #333;
  border-radius: 50%;
}
.textarea {
  min-width: 600px;
  min-height: 200px;
}
.select {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
}
.button {
  margin-top: 20px;
}
.success {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.error {
  margin-bottom: 8px;
  color: #f33;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 90px;
  }
  .textfield,
  .select {
    width: 300px;
  }
}