.mt {
  margin-top: 40px;
}

.bg {
  padding: 60px 0!important;
  background-image: url("/sp_bg-circle.png");
  background-position: center -20px;
  background-size: 375px;
  background-repeat: no-repeat;
}
.message {
  text-align: center;
}
.heading {
  display: inline-block;
  margin-top: 30px;
  background: linear-gradient(transparent 70%, #f5f534 0%);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}
.headingText {
  margin-top: 40px;
}
.heading span,
.headingText span {
  display: block;
}
.imageWrapper {
  position: relative;
  width: 100%;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.greeting {
  margin-top: 60px;
}
.greetingText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.table {
  margin-top: 50px;
}
.map {
  margin-top: 40px;
}
.map iframe {
  height: 240px;
}
.mapLink {
  margin-top: 5px;
  color: #240B6B;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .bg {
    padding: 100px 0 70px!important;
    background-image: url("/bg-circle.png"), url("/bg-face.png");
    background-position: center -20px, center 40px;
    background-size: auto;
    background-repeat: no-repeat, no-repeat;
  }
  .heading {
    font-size: 40px;
    line-height: 1;
  }
  .heading span {
    display: inline;
  }
  .greeting {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 50px;
    margin-top: 160px;
  }
  .greetingText {
    margin-top: 0;
  }
  .table {
    margin-top: 30px;
  }
  .map {
    margin-top: 60px;
  }
  .map iframe {
    height: 400px;
  }
}
