.text {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
}
.radio {
  appearance: auto;
  width: auto;
  height: auto;
}