.tag {
  display: grid;
  align-items: center;
  width: 80px;
  padding: 2px 8px;
  border-radius: 20px;
  background-color: #e8e8e8;
  color: var(--color-font-base);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .tag {
    padding: 2px 10px;
    font-size: 12px;
  }
}